
<div class="page-content">
    <div class="photo_body wrapper">
        <div class="photo_cell" ng-repeat="item in photo.items">
            <div class="cell_img">
                <img src="./assets/photo/1.png" data-toggle="modal" data-target="#imageModal">
                </img>
            </div>
            <div class="cell_text" data-toggle="modal" data-target="#contModal">
                <div class="title">
                    Idea #{{item}}: Harverst some...
                </div>
                <div class="content">
                    There is a long list of benefits of sharing a regular date night with you partner! Couples who take this time to nurture their relationshop with one another are more likely to enjoy high-quality relationships. Regular dates offer couples the opportunity to enjoy each... pany and let go of the stresses that come with day-today life.
                </div>
            </div>
        </div>
        <!-- pager -->
        <ul class="pagination" ng-if="photo.pager.pages.length">
            <li ng-class="{disabled:photo.pager.currentPage === 1}">
                <a ng-click="photo.setPage(1)">
                    First
                </a>
            </li>
            <li ng-class="{disabled:photo.pager.currentPage === 1}">
                <a ng-click="photo.setPage(photo.pager.currentPage - 1)">
                    Previous
                </a>
            </li>
            <li ng-class="{active:photo.pager.currentPage === page}" ng-repeat="page in photo.pager.pages">
                <a ng-click="photo.setPage(page)">
                    {{page}}
                </a>
            </li>
            <li ng-class="{disabled:photo.pager.currentPage === photo.pager.totalPages}">
                <a ng-click="photo.setPage(photo.pager.currentPage + 1)">
                    Next
                </a>
            </li>
            <li ng-class="{disabled:photo.pager.currentPage === photo.pager.totalPages}">
                <a ng-click="photo.setPage(photo.pager.totalPages)">
                    Last
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="imageModal" class="modal fade" role="dialog" ng-controller="BlogCreatController">
    <div class="modal-dialog bmd-modal-dialog">
        <div class="modal-content bmd-border-success">
            <div class="modal-header bmd-bg-success">
                <button type="button" class="close btn-link bmd-flat-btn bmd-flat-btn-light" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title bmd-text-green-100">Update Image</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Choose Image</h3>
                    </div>
                    <div class="col-md-9 img-body">
                        <div class="col-md-2 up-image" ng-repeat="item in uploadedImgs = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
                            <img src="./assets/upload.png" alt="test">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bmd-border-green-100">
                <button type="button" class="btn btn-default bmd-ripple bmd-ink-grey-400" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="save()" class="btn btn-success bmd-ripple">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="textModal" class="modal fade" role="dialog" ng-controller="BlogCreatController">
    <div class="modal-dialog bmd-modal-dialog">
        <div class="modal-content bmd-border-success">
            <div class="modal-header bmd-bg-success">
                <button type="button" class="close btn-link bmd-flat-btn bmd-flat-btn-light" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title bmd-text-green-100">Update Image</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Title</h3>
                    </div>
                    <div class="col-md-9">
                        <div class="bmd-field-group">
                            <input type="text" class="bmd-input" required="">
                            <span class="bmd-bar"></span>
                            <label class="bmd-label">Title</label>
                            <span class="bmd-field-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bmd-border-green-100">
                <button type="button" class="btn btn-default bmd-ripple bmd-ink-grey-400" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="save()" class="btn btn-success bmd-ripple">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="dateModal" class="modal fade" role="dialog" ng-controller="BlogCreatController">
    <div class="modal-dialog bmd-modal-dialog">
        <div class="modal-content bmd-border-success">
            <div class="modal-header bmd-bg-success">
                <button type="button" class="close btn-link bmd-flat-btn bmd-flat-btn-light" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title bmd-text-green-100">Update Image</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Date</h3>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="bmd-field-group">
                                <input id="inputDate" type="text" class="bmd-input" required="" data-dtp="dtp_xeiDE">
                                <span class="bmd-bar"></span>
                                <label class="bmd-label">Date</label>
                                <span class="bmd-field-feedback"></span>
                            </div>
                            <script type="text/javascript">
                            $('#inputDate').bootstrapMaterialDatePicker({
                                time: false,
                                format: 'DD/MM/YYYY'
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bmd-border-green-100">
                <button type="button" class="btn btn-default bmd-ripple bmd-ink-grey-400" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="save()" class="btn btn-success bmd-ripple">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="contModal" class="modal fade" role="dialog" ng-controller="BlogCreatController">
    <div class="modal-dialog bmd-modal-dialog">
        <div class="modal-content bmd-border-success">
            <div class="modal-header bmd-bg-success">
                <button type="button" class="close btn-link bmd-flat-btn bmd-flat-btn-light" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title bmd-text-green-100">Update Image</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Content</h3>
                        </div>
                        <div class="col-md-9">
                            <text-angular ng-model="home_content" ng-change="homechange(home_content)"></text-angular>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bmd-border-green-100">
                <button type="button" class="btn btn-default bmd-ripple bmd-ink-grey-400" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="save()" class="btn btn-success bmd-ripple">Save</button>
            </div>
        </div>
    </div>
</div>